{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": "standard",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "globalReturn": true,
      "impliedStrict": true
    },
    "ecmaVersion": 2016
  },
  "plugins": [
    "promise",
    "standard"
  ],
  "rules": {
    "no-useless-computed-key": 0,
    "space-unary-ops": [
      2,
      {
        "nonwords": true,
        "words": true
      }
    ]
  }
}
